.TeamPage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;

    .home-page{
        padding-top: 20px;
        grid-column: span 1;
    }
   
    .team-name-section {
        grid-column: span 3;
        justify-self: start;
        align-self: flex-end;
    }
    
    .team-name{
        font-size: 2rem;
        margin-bottom: 20px;
    }
    .win-lose-section{
        justify-self: center;
        padding: 20px;
        text-align: center;
    }
    .match-details-section{
        grid-column: span 5;
        
    }
    .more{
        align-self: center;
        justify-self: center;
        font-size: larger;
    }
}